
header{
  height: 50px;
  background-color: aqua;
  font-size: 2em;
  padding: 1em;
}
footer{
  border-top:2px solid aqua;
  background-color: aqua;
  height: 30px;
  font-size: 0.8em;
  margin-top: 3em;
}
footer p{
  text-align: right;
}
main{
  padding: 1em;
}
.json{
  border: 1px solid gray;
  padding: 1em;
  position: relative;
}
.json::before{
  content: "JSON-LD";
  position: absolute;
  top:-0.5em;
  left: 0;
  font-weight: bold;
  background-color: white;
}

pre{
  white-space: pre-wrap;
}
h1{
  border-top:2px solid black;
  border-bottom:2px solid black ;
}

.pager span{
  margin-right: 10px;
  padding: 0 5px;
}
.pager span.pageritem{
  border: 1px solid gray;
}
.pager a{
  text-decoration: none;
}